<template id="snp-layout-template">
    <style>
        #viewport {
            height: 100%;
            background-color: var(--snp-background-alpha7);
        }

        #left-col {
            width: 200px;
            height: 100%;
        }

        #main-logo {
            height: 200px;
            position: relative;
            top: 10px;
            margin-bottom: 10px;
            background-size: 77%;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(/assets/img/logo.png);
        }

        #main-menu {
            height: calc(100% - 240px);
            text-align: right;
            overflow-x: hidden;
            position: relative;
            left: 2px;
        }

        #main-menu ul {
            display: inline-flex;
            flex-direction: column;
            width: 176px;
            margin: 0;
            padding: 0;
        }

        #main-menu li {
            display: block;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        #main-menu a {
            display: flex;
            align-items: center;
            padding: 0.2em 0.5em;
            margin: 0.2em 0;
            border: 2px solid transparent;
            border-right: none;
            text-decoration: none;
            z-index: 1000;
            color: var(--snp-primary-shade-color);
            background-color: transparent;
            border-radius: var(--snp-normal-radius) 0 0 var(--snp-normal-radius);
        }

        #main-menu a.active {
            border-color: var(--snp-primary-color);
            background-color: var(--snp-background-color);
            opacity: 1;
        }

        #main-menu a i {
            width: 1em;
            margin-right: 0.5em;
            text-align: right;
            opacity: 0.8;
        }

        #main-menu a:hover i {
            opacity: 1;
        }

        #main-menu-toggle {
            height: 30px;
        }

        #right-col {
            width: calc(100% - 210px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 200px;
        }

        #top-bar {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .top-bar-link {
            display: inline-block;
            text-decoration: none;
            color: var(--snp-primary-shade-color);
            padding: 5px;
        }

        .top-bar-link.active {
            background-color: var(--snp-background-color);
            border: 2px solid var(--snp-primary-color);
            border-bottom: none;
            position: relative;
            top: 3px;
            z-index: 10;
            border-radius: var(--snp-normal-radius) var(--snp-normal-radius) 0 0;
        }

        #bottom-bar {
            height: 30px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        #pane-container {
            width: 100%;
            height: calc(100% - 60px);
            box-sizing: border-box;
            border-radius: var(--snp-normal-radius);
            position: relative;
            background-color: #ffffffe6;
            background: linear-gradient(90deg, var(--snp-background-color) 0%, var(--snp-background-alpha7) 20%);
        }

        #mobile-menu-switch {
            display: none;
            outline: none;
        }

        .modal-form {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--snp-background-alpha8);
            border-radius: var(--snp-normal-radius);
        }


        @media only screen and (max-width: 667px) {
            body {
                font-size: 14px;
            }

            #left-col {
                background-color: var(--snp-background-color);
                z-index: 100000;
                position: fixed;
                left: -220px;
                top: 0;
                background-image: url(/assets/img/background.jpg);
                transition: all 0.4s;
                box-shadow: 1px 9px 10px var(--snp-shadow-color);
            }

            #left-col.shown {
                left: 0px;
            }

            #right-col {
                left: 5px;
                width: calc(100% - 10px);
            }

            .mobile-header {
                display: block;
                flex-grow: 1;
                justify-self: flex-start;
                align-self: center;
            }

            #mobile-menu-switch {
                font-size: 1.5em;
                display: inline-block;
                color: var(--snp-primary-color);
                width: 1.6em;
                text-align: center;
                border-radius: var(--snp-normal-radius);
                border: none;
                background: none;
            }

            .header-user-name {
                display: none;
            }

            .grid-title {
                font-size: 1.5em;
            }

            .button-text {
                display: none;
            }

            #main-menu {
                left: 0;
                background-color: var(--snp-background-alpha6);
            }

            #top-bar {
                height: 35px;
                font-size: 1.3em;
            }
        }
    </style>

    <div id="viewport">
        <div id="left-col">
            <div id="main-logo"></div>
            <snp-main-menu></snp-main-menu>
        </div>
        <div id="right-col">
            <div id="top-bar">
                <div class="mobile-header">
                    <button id="mobile-menu-switch">
                        <snp-icon icon-name="bars"></snp-icon>
                    </button>
                </div>
                <!-- a class="top-bar-link" href="#__builder">
                    <snp-icon icon-name="cogs"></snp-icon> Settings
                </a -->
                <a class="top-bar-link" id="logout-link" href="#__profile">
                    <snp-icon icon-name="user"></snp-icon> Salir
                    <span class="header-user-name">(Username)</span>
                </a>
            </div>
            <div id="pane-container">
                <slot name="pane">
                    <snp-router></snp-router>
                </slot>
            </div>
            <div id="bottom-bar">
                <img src="/img/logo.png" style="
                height: 24px;
                margin-right: 0.5em;" />
            </div>
        </div>
    </div>
</template>
<script>
    (() => {

        const template = document.getElementById("snp-layout-template");

        class SnpLayout extends HTMLElement {
            constructor() {
                super();

                this._shadowRoot = this.attachShadow({ mode: "open" });
                this._shadowRoot.appendChild(template.content.cloneNode(true));

                const menuSwitch = this._shadowRoot.getElementById('mobile-menu-switch')

                const userName = this._shadowRoot.querySelector('.header-user-name')
                userName.innerHTML = `(${globalThis.snpUser.nickname})`

                if (globalThis.scheme.style.logo_size) {
                    this._shadowRoot.getElementById('main-logo').style.backgroundSize = globalThis.scheme.style.logo_size
                }

                const logoutLink = this._shadowRoot.getElementById('logout-link')
                logoutLink.addEventListener('click', () => {
                    this.logout()
                })

                const onclick = (event) => {

                    const path = getEventPath(event)

                    if (path.includes(menuSwitch)) {
                        this._shadowRoot.getElementById('left-col').classList.add('shown')
                    } else {
                        this._shadowRoot.getElementById('left-col').classList.remove('shown')
                    }
                }

                document.addEventListener('click', (event) => {
                    onclick(event)
                })

                window.snpLoadModalForm = (initialDoc, saveCallback) => {
                    const form = document.createElement('snp-form')
                    const modal = $('<div class="modal-form">').append(form)
                    const moduleInfo = globalThis.scheme.modules[initialDoc.snptype]
                    moduleInfo.moduleKey = initialDoc.snptype
                    form.moduleInfo = moduleInfo
                    this._shadowRoot.getElementById('pane-container').appendChild(modal[0]);
                    form.reset()
                    form.loadDoc(initialDoc)
                    form.showForm()
                    form.onClose = () => {
                        modal.remove()
                    }
                    form.onSave = (doc) => {
                        modal.remove()
                        if (saveCallback) saveCallback(doc)
                    }
                }
            }

            logout() {
                localStorage.setItem('snpUser', '');
                window.location.href = '/'
                window.location.reload()
            }
        }



        if (!window.customElements.get("snp-layout")) {
            window.customElements.define("snp-layout", SnpLayout);
        }
    })();

</script>