

<template id="snp-order-row-input-template">
    <style>
        div {
            display: table-cell;
            padding: 0.3em;
            border-bottom: 1px solid var(--snp-foreground-alpha2);
            border-right: 1px solid var(--snp-foreground-alpha2);
            vertical-align: middle;
        }

        .product-qty {
            white-space: nowrap;
            text-align: center;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            border: none;
            outline: none;
        }

        .input{
            display: block;
            border: none;
            outline: none;
            text-align: right;
        }

        .product-qty input {
            width: 3em;
            text-align: center;
        }

        .product-total,
        .product-price {
            text-align: right;
        }

        .product-unit {
            font-size: 0.8em;
            padding: 0;
            border: none;
            text-align: center;
            display: inline-block;
        }
    </style>
    <div class="product-name"></div>
    <div class="product-price">
        <div contenteditable="true" class="input" ></div>
    </div>
    <div class="product-qty">
        <input type="number" min="0" />
        <div class="product-unit"></div>
    </div>
    <div class="product-total">
        <div contenteditable="true" class="input" ></div>
    </div>
    <div class="product-final-price">
        <div contenteditable="true" class="input" ></div>
    </div>
    <div class="product-final-weight">
        <div contenteditable="true" class="input" ></div>
    </div>
    <div class="product-delete">
        <snp-icon icon-name="times"></snp-icon>
    </div>
</template>

<script>
    (() => {

        const template = document.getElementById("snp-order-row-input-template");

        class SnpOrderRowInput extends HTMLElement {
            constructor() {
                super()
                this._qty = 1
                this._shadowRoot = this.attachShadow({ mode: "open" });
                this._shadowRoot.appendChild(template.content.cloneNode(true));
            }

            get value() {
                const subtotal = parseInt(this._shadowRoot.querySelector('.product-total .input').textContent.replace(/[^\d]/g, ''))
                return subtotal
            }

            get finalvalue() {
                const finalPrice = parseInt(this._shadowRoot.querySelector('.product-final-price .input').textContent.replace(/[^\d]/g, ''))
                return finalPrice
            }

            async init(productInfo, order) {
                const productInventory = await this.getProductInventory(productInfo)

                if(!productInventory){
                    //alert('No hay inventario del producto.')
                    
                }
               
                const productPrice = productInfo.unitPrice ? productInfo.unitPrice : productInventory.price
                const priceInput = this._shadowRoot.querySelector('.product-price .input')
                const finalPriceInput = this._shadowRoot.querySelector('.product-final-price .input')
                const finalWeightInput = this._shadowRoot.querySelector('.product-final-weight .input')
                const qtyInput = this._shadowRoot.querySelector('.product-qty input')

                finalWeightInput.textContent = productInfo.finalWeight
                finalPriceInput.textContent = productInfo.finalPrice
                

                this._shadowRoot.querySelector('.product-name').textContent = productInfo.name
                this._shadowRoot.querySelector('.product-unit').textContent = productInfo.unit

                priceInput.textContent = productPrice
                qtyInput.value = productInfo._qty

                const totalInput = this._shadowRoot.querySelector('.product-total .input')
                totalInput.textContent = parseInt(productPrice) * parseInt(productInfo._qty)

                // priceInput.cleave = new Cleave(priceInput, {
                //     numeralDecimalScale: 0,
                //     prefix: '$',
                //     numeral: true,
                //     numeralThousandsGroupStyle: 'thousand'
                // });

                // totalInput.cleave = new Cleave(totalInput, {
                //     numeralDecimalScale: 0,
                //     prefix: '$',
                //     numeral: true,
                //     numeralIntegerScale: 20,
                //     numeralThousandsGroupStyle: 'thousand'
                // });

                const updateOrder = () => {
                    this._qty = qtyInput.value
                    this.unitPrice = priceInput.textContent.replaceAll(/[^\d]/g, '')
                    this.subtotal = totalInput.textContent.replaceAll(/[^\d]/g, '')

                    this.finalPrice = finalPriceInput.textContent.replaceAll(/[^\d]/g, '')
                    this.finalWeight = finalWeightInput.textContent.replaceAll(/[^\d]/g, '')

                    fireEvent(document, 'orderProductChange', { 
                        product: productInfo, 
                        order: order, 
                        qty: this._qty,
                        unitPrice: this.unitPrice,
                        finalPrice: this.finalPrice,
                        finalWeight: this.finalWeight,
                        subtotal: this.subtotal
                    })
                }


                qtyInput.addEventListener('change', () => {
                    updateOrder()
                })

                // priceInput.addEventListener('keyup', () => {
                //     priceInput.textContent = priceInput.textContent.replaceAll(/[^\d]/g, '');
                // })


                priceInput.addEventListener('blur', () => {
                    const price = parseInt(priceInput.textContent.replaceAll(/[^\d]/g, ''));

                    if(price == this.oldPrice){
                        return
                    }

                    this.oldPrice = price

                    const qty = parseInt(this._shadowRoot.querySelector('.product-qty input').value)

                    totalInput.textContent = price * qty

                    priceInput.width = 'auto';
                    priceInput.width = priceInput.scrollWidth + 'px';

                    updateOrder()
                })

                // totalInput.addEventListener('keyup', () => {
                //     totalInput.textContent = totalInput.textContent.replaceAll(/[^\d]/g, '');
                // })

                totalInput.addEventListener('blur', () => {

                    const subtotal = parseInt(totalInput.textContent.replaceAll(/[^\d]/g, ''));
                    const qty = parseInt(this._shadowRoot.querySelector('.product-qty input').value)
                    const total = subtotal / qty

                    if(total == this.oldTotal){
                        return
                    }

                    this.oldTotal = total

                    priceInput.textContent = total

                    updateOrder()
                })

                finalWeightInput.addEventListener('blur', () => {
                    updateOrder()
                })

                finalPriceInput.addEventListener('blur', () => {
                    updateOrder()
                })


                this._shadowRoot.querySelector('.product-delete').addEventListener('click', () => {
                    this.parentElement.removeChild(this)
                    fireEvent(document, 'orderProductDeleted', { product: productInfo, order: order })
                })
            }

            

            async getProductInventory(productInfo){
                const inventoryProducts = await snpdb.find({
                    snptype: 'inventory',
                    live: false,
                    orderer: 'date_created',
                    order: "ASC",
                    filters: {
                        'rel_productos.snpId': productInfo.snpId,
                    }
                })

                const product = inventoryProducts.docs[0]

                return product
            }
        }

        if (!window.customElements.get("snp-input-order-row")) {
            window.customElements.define("snp-input-order-row", SnpOrderRowInput);
        }
    })();

</script>