*:focus {
  outline: 1px dotted var(--snp-foreground-color);
} 

* {
  outline: none;
}

html,
body {
  display: block;
  height: 100%;

  padding: 0;
  margin: 0;
  color: var(--snp-background-color);
}

#app{
  height: 100%;
}

body {
  background-image: url(/assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--snp-foreground-color);
  font-family: sans-serif;
  font-size: 13px;
}

input,select,button{
  font-family: sans-serif;
  font-size: 13px;
}

div#login {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .msg{
  display: block;
  background-color: var(--snp-background-alpha4);
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
  display: none;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--snp-background-alpha4);
  padding: 1em;
  border-radius: 1em;
}

label {
  display: inline-block;
  margin: 0.5em;
}

label span {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#login input,
#login button{
  padding: 0.2em;
    font-size: 1em;
    font-family: sans-serif;
}